.git
.gitignore
README.md
tests
vendor
node_modules
.env.example
docker-compose.yml
Dockerfile
composer.lock
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*