APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=
DB_PASSWORD_ROOT=

QUEUE_CONNECTION=database

MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.sendinblue.com
MAIL_PORT=465
BREVO_MAIL_API_KEY=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

SSO_TYPE_EMAIl=email
SSO_TYPE_GOOGLE=google
SSO_TYPE_APPLE=apple

GOOGLE_CLIENT_IDS=client-id-1,clientid-2,....
APPLE_CLIENT_ID=<client-id>

JWT_TOKEN_ENCRYPT_ALGORITHM=HS256
ACCESS_TOKEN_VALIDITY_PERIOD_IN_MINUTES=10
REFRESH_TOKEN_VALIDITY_PERIOD_IN_MINUTES=1000