APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=
DB_PASSWORD_ROOT=

QUEUE_CONNECTION=database

BREVO_MAIL_API_KEY=<brevo-api-key>
MAIL_FROM_ADDRESS=<from-address>

SSO_TYPE_EMAIl=email
SSO_TYPE_GOOGLE=google
SSO_TYPE_APPLE=apple

GOOGLE_CLIENT_IDS=client-id-1,clientid-2,....
APPLE_CLIENT_ID=<client-id>

JWT_TOKEN_ENCRYPT_ALGORITHM=HS256
ACCESS_TOKEN_VALIDITY_PERIOD_IN_MINUTES=10
REFRESH_TOKEN_VALIDITY_PERIOD_IN_MINUTES=1000

TDMS_API_URL=<tdms-api-endpoint-url>
SHARED_TOKEN_AGENT_USERNAME=<shared-agent-username>
SHARED_TOKEN_AGENT_PASSWORD=<shared-agent-password>

AGENT_UPGRADE_ORDER_MONTHS_HISTORY=6
