APP_NAME=${APP_NAME}
APP_ENV=${APP_ENV}
APP_KEY=${APP_KEY}
APP_DEBUG=${APP_DEBUG}
APP_URL=${APP_URL}
WEB_URL=${WEB_URL}
WEB_URL_PETERPANS=${WEB_URL_PETERPANS}
APP_PORT=${APP_PORT}
DB_CONNECTION=${DB_CONNECTION}
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}
DB_PASSWORD_ROOT=${DB_PASSWORD_ROOT}
REDIS_HOST=${REDIS_IP_ADDRESS}
REDIS_PORT=${REDIS_PORT}
REDIS_PASSWORD=${REDIS_PASSWORD}
SSO_TYPE_EMAIL=${SSO_TYPE_EMAIL}
SSO_TYPE_GOOGLE=${SSO_TYPE_GOOGLE}
SSO_TYPE_APPLE=${SSO_TYPE_APPLE}
JWT_TOKEN_ENCRYPT_ALGORITHM=${JWT_TOKEN_ENCRYPT_ALGORITHM}
ACCESS_TOKEN_VALIDITY_PERIOD_IN_MINUTES=${ACCESS_TOKEN_VALIDITY_PERIOD_IN_MINUTES}
REFRESH_TOKEN_VALIDITY_PERIOD_IN_MINUTES=${REFRESH_TOKEN_VALIDITY_PERIOD_IN_MINUTES}
GOOGLE_CLIENT_IDS=${GOOGLE_CLIENT_IDS}
APPLE_CLIENT_ID=${APPLE_CLIENT_ID}
PETERPANS_APPLE_CLIENT_ID=${PETERPANS_APPLE_CLIENT_ID}
MAIL_MAILER=${MAIL_MAILER}
MAIL_HOST=${MAIL_HOST}
MAIL_PORT=${MAIL_PORT}
BREVO_MAIL_API_KEY=${BREVO_MAIL_API_KEY}
BREVO_VERIFY_EMAIL_TEMPLATE_ID=${BREVO_VERIFY_EMAIL_TEMPLATE_ID}
BREVO_FORGOT_PASSWORD_TEMPLATE_ID=${BREVO_FORGOT_PASSWORD_TEMPLATE_ID}
BREVO_BOOKING_NOTIFICATION_TEMPLATE_ID=${BREVO_BOOKING_NOTIFICATION_TEMPLATE_ID}
BREVO_ORDER_COMPLETE_TEMPLATE_ID=${BREVO_ORDER_COMPLETE_TEMPLATE_ID}
BREVO_ACCOUNT_DELETION_TEMPLATE_ID=${BREVO_ACCOUNT_DELETION_TEMPLATE_ID}
BREVO_POINTS_EARNED_NOTIFICATION_TEMPLATE_ID=${BREVO_POINTS_EARNED_NOTIFICATION_TEMPLATE_ID}
BREVO_PETERPANS_VERIFY_EMAIL_TEMPLATE_ID=${BREVO_PETERPANS_VERIFY_EMAIL_TEMPLATE_ID}
BREVO_PETERPANS_FORGOT_PASSWORD_TEMPLATE_ID=${BREVO_PETERPANS_FORGOT_PASSWORD_TEMPLATE_ID}
BREVO_PETERPANS_BOOKING_NOTIFICATION_TEMPLATE_ID=${BREVO_PETERPANS_BOOKING_NOTIFICATION_TEMPLATE_ID}
BREVO_PETERPANS_ORDER_COMPLETE_TEMPLATE_ID=${BREVO_PETERPANS_ORDER_COMPLETE_TEMPLATE_ID}
BREVO_PETERPANS_ACCOUNT_DELETION_TEMPLATE_ID=${BREVO_PETERPANS_ACCOUNT_DELETION_TEMPLATE_ID}
BREVO_PETERPANS_POINTS_EARNED_NOTIFICATION_TEMPLATE_ID=${BREVO_PETERPANS_POINTS_EARNED_NOTIFICATION_TEMPLATE_ID}
BREVO_PETERPANS_SHARE_PAYMENT_TEMPLATE_ID=${BREVO_PETERPANS_SHARE_PAYMENT_TEMPLATE_ID}
BREVO_SHARE_PAYMENT_TEMPLATE_ID=${BREVO_SHARE_PAYMENT_TEMPLATE_ID}
MAIL_ENCRYPTION=${MAIL_ENCRYPTION}
MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
MAIL_FROM_NAME=${MAIL_FROM_NAME}
NOTIFICATION_TO_FREELANCE_EMAIL_ADDRESS=${NOTIFICATION_TO_FREELANCE_EMAIL_ADDRESS}
PETERPANS_MAIL_FROM_ADDRESS=${PETERPANS_MAIL_FROM_ADDRESS}
NOTIFICATION_TO_PETERPANS_EMAIL_ADDRESS=${NOTIFICATION_TO_PETERPANS_EMAIL_ADDRESS}
TDMS_API_URL=${TDMS_API_URL}
TDMS_CUSTOMER_API_URL=${TDMS_CUSTOMER_API_URL}
TDMS_CUSTOMER_API_USERNAME=${TDMS_CUSTOMER_API_USERNAME}
TDMS_CUSTOMER_API_PASSWORD=${TDMS_CUSTOMER_API_PASSWORD}
RETACK_ERROR_LOGGING_URL=${RETACK_ERROR_LOGGING_URL}
RETACK_ENV_KEY=${RETACK_ENV_KEY}
DEFAULT_AGENT_BRANCH_CODE=${DEFAULT_AGENT_BRANCH_CODE}
DEFAULT_AGENT_EMAIL=${DEFAULT_AGENT_EMAIL}
DEFAULT_AGENT_PASSWORD=${DEFAULT_AGENT_PASSWORD}
PETERPANS_AGENT_BRANCH_CODE=${PETERPANS_AGENT_BRANCH_CODE}
PETERPANS_AGENT_EMAIL=${PETERPANS_AGENT_EMAIL}
PETERPANS_AGENT_PASSWORD=${PETERPANS_AGENT_PASSWORD}
FIREBASE_CREDENTIALS=${FIREBASE_CREDENTIALS}
FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}