APP_NAME=${APP_NAME}
APP_ENV=${APP_ENV}
APP_KEY=${APP_KEY}
APP_DEBUG=${APP_DEBUG}
APP_URL=${APP_URL}
APP_PORT=${APP_PORT}
DB_CONNECTION=${DB_CONNECTION}
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}
DB_PASSWORD_ROOT=${DB_PASSWORD_ROOT}
SSO_TYPE_EMAIL=${SSO_TYPE_EMAIL}
SSO_TYPE_GOOGLE=${SSO_TYPE_GOOGLE}
SSO_TYPE_APPLE=${SSO_TYPE_APPLE}
JWT_TOKEN_ENCRYPT_ALGORITHM=${JWT_TOKEN_ENCRYPT_ALGORITHM}
ACCESS_TOKEN_VALIDITY_PERIOD_IN_MINUTES=${ACCESS_TOKEN_VALIDITY_PERIOD_IN_MINUTES}
REFRESH_TOKEN_VALIDITY_PERIOD_IN_MINUTES=${REFRESH_TOKEN_VALIDITY_PERIOD_IN_MINUTES}
GOOGLE_CLIENT_IDS=529254559269-u14b4pdf8oq5rlo2pc8ru9u1bn2cikqe.apps.googleusercontent.com,529254559269-hp000ue7cnmfijai3l44mgak9t5tio4a.apps.googleusercontent.com,529254559269-qoomedklf81d4kius1fgsjraii5u7kej.apps.googleusercontent.com
